 ! General
 !urxvt*termName:  rxvt-256color
 urxvt*loginShell:         true
 urxvt*scrollBar:          true
 urxvt*secondaryScroll:    true
 urxvt*saveLines:         65535
 urxvt*cursorBlink:       false
 urxvt*urgentOnBell:       true
 
 ! Extensions
 urxvt*perl-lib:        /usr/lib/urxvt/perl/
 urxvt*perl-ext-common: default,matcher,searchable-scrollback
 urxvt*url-launcher:     /usr/bin/firefox
 urxvt*matcher.button:  1
 
 ! Appearance
 !  - font
! URxvt.letterSpace:  1
 URxvt.font: -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
 !  - cursor
 Xcursor.theme: breeze_cursors
 !  - pseudo transparency
 urxvt*shading:    25
 urxvt*transparent:true
 !
 !  - color scheme
 urxvt.background:  #000000
 urxvt.foreground:  #EBEBFF
 ! black + red
 !urxvt*color0:     #3f3f3f
 urxvt*color0:      #000000
 urxvt*color1:      #e01010
 ! green + yellow
 urxvt*color2:      #00AA00
 urxvt*color3:      #FFFF00
 ! blue + purple
 urxvt*color4:      #112037
 urxvt*color5:      #A020F0
 ! cyan + white
 urxvt*color6:      #5B5BC7
 urxvt*color7:      #fefefe
 ! bright-black + bright-red
 urxvt*color8:      #6a6a6a
 urxvt*color9:      #FF5555
 ! bright-green + bright-yellow
 urxvt*color10:     #90EE90
 urxvt*color11:     #ffff2f
 ! bright-blue + bright-purple
 urxvt*color12:     #5B5BC7
 urxvt*color13:     #e628ba
 ! bright-cyan + bright-white
 urxvt*color14:     #7D7DFB
 urxvt*color15:     #ffffff
